body {
  margin: 0;
  padding: 0;
}
main {
  width: 80%;
  background: #f0f0f0;
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1500px;
}
main .hero-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
main .hero-article a {
  width: 100%;
}
main .hero-article .hero-article-img {
  display: flex;
  width: 100%;
  height: 350px;
}
main .article-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 15px;
}
main .article-list .single-article {
  display: flex;
  max-width: 750px;
}
main .article-list .single-article a {
  width: 100%;
}
main .article-list .single-article .single-article-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
main .article-list .article-admin {
  display: flex;
  max-width: 750px;
  flex-direction: column;
  position: relative;
}
main .article-list .article-admin img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
main .article-list .article-admin .actions {
  position: absolute;
  right: 0;
}
main .article-list .article-admin .actions button {
  height: 35px;
  border: none;
  width: 100px;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
main .article-info {
  display: flex;
  max-width: 1500px;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  width: 50%;
}
form textarea {
  resize: none;
  width: 50%;
  height: 500px;
}
form .buttons-wrapper {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
form .buttons-wrapper button {
  height: 35px;
  width: 200px;
  font-size: 20px;
  border: none;
  background: #009dff;
  text-transform: uppercase;
  color: white;
}
header {
  padding-bottom: 10px;
}
